%p
%div 
  %h2 
.row
  .col-md-8.col-md-offset-2
    - @blog_detail.articles.each do |blog|
    	%p= {'title': blog.title, 'tags': blog.tag, 'summary': blog.content[0..6]} 

      / %h3=blog.article.title
      / .content=article.content
      / .read-more=link_to 'read more', article
      / %hr
/ =begin

/ Blog details will hold:
/    -blog titles/articles
/    -Blog Author
/    -Blurb (Number of character - TBD)
/    -Social links (twitter, github, fb, google)
/    -Tags
/    -Created by Date
/    -

  
/ end