%h3= @article.title
%ul.list-inline
  %li.list-inline-item=link_to 'Back to List', admin_articles_path
  %li.list-inline-item &nbsp;|&nbsp;
  %li.list-inline-item=link_to 'Edit Article', edit_admin_article_path(@article)
%hr
.content=@article.content

%p=link_to "See all comments", "#"

/ %h2 Comments

/ %ul.list-unstyled
/   -@article.comments.each do |comment|
/     %li
/       %blockquote
/         %p=comment.body
/         %p=comment.name
/ %br/
