.row
  .col-md-8.col-md-offset-2
    %h3= @article.title

    <span>
    %em="By "      
    - length = @article.authors.length
    - names = "" 
    - if length == 1
      %em=@article.authors[0]
      %em=@article['created_at']
    - if length == 2
      %em=@article.authors[0] + " & " + @article.authors[1] 
      %em=@article['created_at']
    -if length > 2
      -art=""
      -for i in 1..length-2
        -art = art + ", " + @article.authors[i]
        -names=@article.authors[0] + art + " & " + @article.authors[length-1]
      %em=names

      %em=@article['created_at']
    </span>
    .content=@article.content

    %hr

    %h2 Notes
    %ul.list-unstyled
      -@article.notes.each do |note|
        %li
          %blockquote.blockquote
            %p.m-b-0=note.notes_info

            /# %em=time_ago_in_words comment.id.generation_time
            -if note.notes_info
              =link_to 'delete', admin_article_note_path(note.article.id, note.id), controller: 'notes', method: :delete, data: {confirm: 'Are you sure?' } 
    %br/    


    /Add Notes
    =button_to "Add Notes", new_admin_article_note_path(@article), method: :get
    
    
    %h2 Comments
    %ul.list-unstyled
      -@article.comments.each do |comment|
        %li
          %blockquote.blockquote
            %p.m-b-0=comment.body
            %footer.blockquote-footer
              =comment.name
              /# %em=time_ago_in_words comment.id.generation_time
            -if comment.body
              =link_to 'delete', admin_article_comment_path(comment.article.id, comment.id), controller: 'comments', method: :delete, data: {confirm: 'Are you sure?' } 
    %br/



    <br>
    <br>
    <br>
    -if @article_present > 1
      %h4= "You can check out related articles"
    -else
      %h4= "You can also check out these top articles"
    -@related_articles.each do |related_article|
      -if @article.title != related_article["title"] 
        -if @article_present > 1
          <br>
          =link_to related_article["title"], article_path(related_article["_slugs"])
        -else
          <br>
          %p="Of coutse"
          =link_to related_article["title"], article_path(related_article["_slugs"])








