%p#notice= notice
%h1 Listing Articles
%h2 Top Articles


/ rss feed
=link_to (image_tag("/assets/rss_feed.png")), feed_path, :target => "_blank"
=link_to "rss", feed_path, :target => "_blank"

/ Top articles
%p
%div 
  %h2 
.row
  .col-md-12.col-md-offset-1
    -rank =  @top_articles.length
    -if rank > 10
      -rank = 10
    %span
      -for i in 0..rank-1      
        =link_to @top_articles[i].title, @top_articles[i]       
%p
<br>
<br>
<br>
<br>

/ Article Tags
%h3 TAGS
%span
  - @tag_list.each do |tag|
    =link_to tag + " ", url: tag
  =link_to 'All', articles_path
    
%table
  %thead
    %tr
      %th{:colspan => "3"}

/ List of Articles
%p
%div 
  %h2 
.row
  .col-md-8.col-md-offset-2
    - @articles.each do |article|
      %h3=article.title
      <span>
      %em="By "      
      - length = article.authors.length
      - names = "" 
      - if length == 1
        %em=article.authors[0]
        %em=article['created_at']
      - if length == 2
        %em=article.authors[0] + " & " + article.authors[1] 
        %em=article['created_at']
      -if length > 2
        -art=""
        -for i in 1..length-2
          -art = art + ", " + article.authors[i]
          -names=article.authors[0] + art + " & " + article.authors[length-1]
        %em=names

        %em=article['created_at']
      </span>
      .content=article.content
      .read-more=link_to 'read more', article
      %hr

/ Form for Subscribers
= form_tag @user_subscriptions, :method => :get do
  = text_field_tag :email
  = submit_tag "Subscribe"

/ %h1="Post"
/ -@articles.each do |article|
/   %h2= article.title
/   %p
/   article.content
%p=paginate @articles
%p=page_entries_info @articles





/ -@current_articles.each do |article|
/   %p= article.title
 
/ -if @scroll_tag 
/   -prev_url  = url_for(params.merge(pg: @scroll['prev']))
/   =link_to "Prev", prev_url

/   -for pg in 1..@number_of_pages
/     -tag_url = url_for(params.merge(pg: pg))
/     =link_to pg, tag_url
    
/   -next_url  = url_for(params.merge(pg: @scroll['next']))
/   =link_to "Next", next_url
/ -else
/   =link_to "Prev", pg: @scroll['prev']
/   -for pg in 1..@number_of_pages
/     =link_to pg, pg: pg
/   =link_to "Next", pg: @scroll['next']