%p#notice= notice

%h1 Blog Details

%span
  %p= @blog_details.author
  -social_accounts=@blog_details.social_accounts.join(", ")
  %p=social_accounts

  -topics = @blog_details.topics.join(", ")
  %p=topics
  %p= @blog_details.blurb
  %p= @blog_details.blog_title

  =link_to "Back", admin_blog_details_path