%nav.navbar.navbar-light.bg-faded
  %a.navbar-brand{:href => "#"} My Blog
  %ul.nav.navbar-nav
    %li.nav-item.active
      %a.nav-link{:href => "/"}
        Home
        %span.sr-only (current)
    %li.nav-item
      =link_to 'Articles', articles_path, class: 'nav-link'
    %li.nav-item
      %a.nav-link{:href => "#"} About Me
  .pull-xs-right
    facebook, tw, instagram
