%p#notice= notice
=render 'shared/admin_nav'
%h1="In Settings"

-comment_settings = [{'how_to_email'=>'email_weekly', 'settings'=>'send email summary weekly'}, {'how_to_email'=>'email_when_comment', 'settings'=>'send email when comment'}]

=form_tag action: :update, controller: :settings do
  -comment_settings.each do |item|  
    -if item['how_to_email'] == @settings.how_to_email
      = label_tag  item['settings']     
      =radio_button :settings, :how_to_email, @settings.how_to_email, check: true
      %p  
    -else item['how_to_email'] != @settings.how_to_email
      = label_tag item['settings']
      =radio_button :settings, :how_to_email, item['how_to_email']
      %p
  
  =submit_tag "Save"